nav {
    background-color: #222;
    padding: 12px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ffcc00;
}

h1 {
    color: #1d3557;
}

h2 {
    color: #457b9d;
}

h3 {
    color: #2a9d8f;
}

p {
    line-height: 1.6;
}

ul, ol {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}

img {
    width: 300px;
    border-radius: 10px;
    margin: 10px 0;
}
.movie {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.movie img {
    width: 180px;
    border-radius: 10px;
}

.movie-info h4 {
    margin: 0;
    font-size: 18px;
    color: #1d3557;
}

.movie-info p {
    margin-top: 5px;
    color: #333;
    line-height: 1.4;
}